*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-bg);
  font-family:  "Poppins", sans-serif;;
}

h2 {
  color: var(--color-judul);
  font-weight: 700;
}

.bold-header {
  font-weight: 750;
}

.thin-header {
  font-weight: 300;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}